<!-- NU -->
<% list_link = "/Verwaltung/Mitglieder" %>
<% searchPerson_link = "/Verwaltung/Mitglieder/Suchen" %>
<% newPerson_link = "/Verwaltung/OZBPerson/NeuePerson" %>
<% editRollen_link    = "/Verwaltung/Rollen" %>
<% createSonderberechtigung_link = "/Verwaltung/Rollen/NeueSonderberechtigung" %>
<ul class="nav nav-tabs">
	<% if is_allowed(current_user, 1) %>
	<li <%= (getCurrentLocation == "/Verwaltung/Mitglieder") ? "class='active'" : "" %> >
	 <%= link_to "Alle Mitglieder anzeigen", list_link %>
	</li>
	<% end %>

	<% if is_allowed(current_user, 1) %>
	<li <%= (getCurrentLocation == "/Verwaltung/Mitglieder/Suchen") ? "class='active'" : "" %>>
	 <%= link_to "Schnellsuche", searchPerson_link %>	
	</li>
	<% end %>

	<% if is_allowed(current_user, 3) %>
	<li>
	 <%= link_to "Neues Mitglied hinzufügen", newPerson_link %>	
	</li>
	<% end %>	

	<% if is_allowed(current_user, 1) %>
    <li <% if getCurrentLocation == editRollen_link || getCurrentLocation == createSonderberechtigung_link %>class="active"<%end%>>
    	<%= link_to "Sonderberechtigungen", editRollen_link %>	
    </li>
  <% end %>

	
</ul>