<%= render :partial => '/verwaltung/navigation' %>

<%= render :partial => '/application/flash_notifier' %>

<%= form_tag({:action => "updateRolle"}, :class => "form-horizontal", :id=>"form_editRolle") do %>

	<% if !@errors.nil? && @errors.any? %>
    <div class="alert alert-error" id="error_explanation">
	  <h3>Konnte keine Rolle aktuallisieren:</h3>	
	  <ul>
	    <% @errors.each do |error| %>
		  <% error.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
	    <% end %>
	  </ul>
    </div>
  	<% end %>


<div class="row-fluid" style="height: 400px;">
 <div class="span6">
  <h4>Rolle bearbeiten</h4>
  <table class="table-hover" width="100%" cellpadding="10" cellspacing="">
 <tr>
  <th align="left" style="width: 180px;"><font color="red">*</font>Rolle:</th>
  <td>
  	<% if is_allowed(current_OZBPerson, 6) %>
  		<%= select_tag 'rolle', options_for_select(@Rollen, @Person.Rolle), { :onChange => "switch_role()" } %>
  	<% else %>
  		<%= text_field_tag :rolle, @Rollen.fetch(@Person.Rolle), :disabled => true %>
        <%= hidden_field_tag :rolle, @Rollen.fetch(@Person.Rolle) %>
  	<% end %>
  </td>
 </tr>


<tbody id="Student">
 <tr>
  <th align="left"><font color="red">*</font>Ausbildungsbez.:</th>
  <td><%= text_field_tag :ausbildBez, @Student.AusbildBez, :disabled => false, :class => "" %></td>
 </tr>
 <tr>
  <th align="left"><font color="red">*</font>Institut:</th>
  <td><%= text_field_tag :institutName, @Student.InstitutName %></td>
 </tr>
 <tr>
  <th align="left"><font color="red">*</font>Studienort:</th>
  <td><%= text_field_tag :studienort, @Student.Studienort %></td>
 </tr>
 <tr>
  <th align="left"><font color="red">*</font>Studienbeginn:</th>
  <td><%= text_field_tag :studienbeginn, (!@Student.Studienbeginn.nil?) ? @Student.Studienbeginn.strftime("%d.%m.%Y") : nil %></td>
 </tr>
 <tr>
  <th align="left">Studienende:</th>
  <td><%= text_field_tag :studienende, (!@Student.Studienende.nil?) ? @Student.Studienende.strftime("%d.%m.%Y") : nil %></td>
 </tr>
 <tr>
  <th align="left"><font color="red">*</font>Abschluss:</th>
  <td><%= text_field_tag :abschluss, @Student.Abschluss %></td>
 </tr> 
</tbody>


<tbody id="Gesellschafter">
 <tr>
  <th align="left"><font color="red">*</font>FA Steuernummer:</th>
  <td><%= text_field_tag :faSteuerNr, @Gesellschafter.FASteuerNr %></td>
 </tr>
 <tr>
  <th align="left">FA ID Nr.:</th>
  <td><%= text_field_tag :faIdNr, @Gesellschafter.FAIdNr %></td>
 </tr>
 <tr>
  <th align="left"><font color="red">*</font>FA Lfd. Nr.:</th>
  <td><%= text_field_tag :faLfdNr, @Gesellschafter.FALfdNr %></td>
 </tr>
 <tr>
  <th align="left"><font color="red">*</font>Wohnsitzfinanzamt</th>
  <td><%= text_field_tag :wohnsitzFinanzamt, @Gesellschafter.Wohnsitzfinanzamt %></td>
 </tr> 
 <tr>
  <th align="left">Notar:</th>
    <td><%= text_field_tag :notarPnr, @Gesellschafter.NotarPnr %>
  	<a class="" id="searchNotarFrame" data-toggle="modal" href="#searchPerson" >Suchen...</a></td>
 </tr>
 <tr>
  <th align="left">Beurkundungsdatum:</th>
  <td><%= text_field_tag :beurkDatum, (!@Gesellschafter.BeurkDatum.nil?) ? @Gesellschafter.BeurkDatum.strftime("%d.%m.%Y") : nil %></td>
 </tr>
</tbody> 


<tbody id="Foerdermitglied">
 <tr>
  <th align="left"><font color="red">*</font>Region:</th>
  <td><%= text_field_tag :region, @Foerdermitglied.Region %></td>
 </tr> 
 <tr>
  <th align="left"><font color="red">*</font>Förderbeitrag:</th>
  <td><%= text_field_tag :foerderbeitrag, @Foerdermitglied.Foerderbeitrag %></td>
 </tr>
</tbody>


<tbody id="Mitglied">
 <tr>
  <th align="left"><font color="red">*</font>RV Datum:</th>
  <td><%= text_field_tag :rvDatum, (!@Mitglied.RVDatum.nil?) ? @Mitglied.RVDatum.strftime("%d.%m.%Y") : nil %></td>
 </tr>
</tbody>

<tbody id="Partner">
 <tr>
  <th align="left"><font color="red">*</font>Partner (Pnr):</th>
  <td>
  	<%= text_field_tag :partner, @Partner.MnrO %>
  	<a class="" id="searchPartnerFrame" data-toggle="modal" href="#searchPerson" >Suchen...</a>
  </td>
 </tr>
 <tr>
  <th align="left"><font color="red">*</font>Berechtigung:</th>
  <td><%= text_field_tag :berechtigung, @Partner.Berechtigung %></td>
 </tr>
</tbody>

</table>

 </div>

 <!-- NU -->
	<div class="span6">
		<h4>Aktuelle Berechtigungen</h4>
		<% if @hasSonderberechtigung == true %>
	  	<table class="table table-striped" width="100%" cellpadding="10" cellspacing="">  		
	  		<tr>
	  			<th>Berechtigung</th>
	  			<th>Email</th>
	  			<th style="text-align: right;">Aktionen&nbsp;&nbsp;&nbsp;</th>
	  		</tr>
	  	<% @Sonderberechtigung.each do |b| %>
	  		<tr>
	  			<td>
	  				<%= @BerechtigungsName.fetch(b.Berechtigung) %>
	  				(<%= b.Berechtigung %>)
	  			</td>
	  			<td><%= b.Email %></td>

	  			<% delete_link = "/Verwaltung/OZBPerson/" + @OZBPerson.Mnr.to_s + "/Sonderberechtigung/" + b.ID.to_s + "/Loeschen" %>
	   			<td style="text-align: right;"><%= link_to "Löschen", delete_link, :class => "btn btn-danger btn-small" %></td>
	  				
	  		</tr>
	  	<% end %>
	  	</table>	
	  <% else %>
	  	<p>Diese Person hat noch keine Sonderberechtigungen.</p>
	  <% end %>

	  <p>
	   <%= link_to "Berechtigung hinzufügen", "/Verwaltung/OZBPerson/" + @OZBPerson.Mnr.to_s + "/Sonderberechtigungen", :class => "btn btn-warning" %>
	  </p>
	</div>

</div>

<% end %>


<font color="red">* Pflichtfelder</font>
<div class="form-actions">
 <div class="row-fluid">
  <div class="span2" align="left">
   <a href="" class="btn" onclick="history.back();">Zurück</a>
  </div>
  <div class="span10" align="right">
   <%= link_to_function "Speichern", "this.form.submit()", :onclick => "$('#form_editRolle').submit(); return false;", :class => "btn btn-primary", :notice => "Rolle erfolgreich aktualisiert" %>	
  </div>		
 </div>	
</div>
  	


<div class="modal hide fade" id="searchPerson">
 <div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3>Schnellsuche einer Person</h3>
 </div>
 <div class="modal-body">
  <div class="alert alert-info">
  	Die Mitglied-Nr. wird automatisch übernommen, sobald Sie einen Namen ausgewählt haben.
  </div>		
  <label>Name:</label>
  <input type="text" id="suchFeld" class="span4" />
  <br />
 <a href="/Verwaltung/OZBPerson/NeuePerson">Gesuchte Person nicht vorhanden? Hier klicken zum Anlegen.</a>
 </div>
 <div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Schliessen</a>
 </div>
</div>



<!-- jQuery Autocomplete -->
<script>
	
	$(function() {			
		var names = [	
			<% @DistinctPersonen.each do |person| %>
			{
				value: "<%= person.Pnr.to_s %>",
				label: "<%= person.Name.to_s + ', ' + person.Vorname.to_s + ' (' + person.Pnr.to_s + ')' %>"
			},
			<% end %>
		];
				
		$( "#suchFeld" ).autocomplete({
			minLength: 0,
			source: names,			
			select: function( event, ui ) {
				$( "#suchFeld" ).val( ui.item.label );
				$( "#partner" ).val( ui.item.value );
				$( "#notarPnr" ).val( ui.item.value );
				return false;
			}
		})
		.data( "autocomplete" )._renderItem = function( ul, item ) {
			return $( "<li></li>" )
				.data( "item.autocomplete", item )
				.append( "<a>" + item.label + "</a>" )
				.appendTo( ul );
		};
	});
	function clearAutocompleteFields(){
		$( "#suchfeld" ).val( "" );
		$( "#partner" ).val( "" );
		$( "#notarPnr" ).val( "" );
	}
</script>


<script>
	var insertId = "#notarPnr";
	
	$("#searchNotarFrame").click(function(){
		insertId = "#notarPnr";
	});
	
	$("#searchPartnerFrame").click(function() {
		insertId = "#partner";
	});
	$(document).ready(function() {
		
	});
	
	$(function() {
		var availableTagsB = [
			<% tags = String.new %>
			<% Person.all.each do |person| %>
				<% tags += "'" + person.Pnr.to_s + "'" + "," %>
			<% end %>
			<%= tags.chop %>
		];
		$( "#notarPnr" ).autocomplete({
		source: availableTagsB
    	});
	});
	
	$(function() {
		$( "#studienbeginn" ).datepicker({
			dateFormat: 'dd.mm.yy',
		    changeMonth: true,
		    changeYear: true		
 		});
 	});
	$(function() {
		$( "#studienende" ).datepicker({
			dateFormat: 'dd.mm.yy',
	        changeMonth: true,
	        changeYear: true		
 		});
	});
	$(function() {
		$( "#beurkDatum" ).datepicker({
			dateFormat: 'dd.mm.yy',
	        changeMonth: true,
	        changeYear: true		
 		});
	});
	$(function() {
		$( "#antragsdatum" ).datepicker({
			dateFormat: 'dd.mm.yy',
		    changeMonth: true,
		    changeYear: true		
 		});
	});
	$(function() {
		$( "#aufnahmedatum" ).datepicker({
			dateFormat: 'dd.mm.yy',
	        changeMonth: true,
		    changeYear: true		
		});
	});
	$(function() {
		$( "#austrittsdatum" ).datepicker({
			dateFormat: 'dd.mm.yy',
	        changeMonth: true,
    	    changeYear: true		
		});
	});
	$(function() {
		$( "#rvDatum" ).datepicker({
			dateFormat: 'dd.mm.yy',
    	    changeMonth: true,
        	changeYear: true		
		});
	});		
	
	function switch_role()
	{
		$("tbody#Foerdermitglied").hide();
	    $("tbody#Student").hide();
    	$("tbody#Mitglied").hide();
    	$("tbody#Partner").hide();
    	$("tbody#Gesellschafter").hide();
	    var role = $('select#rolle').val();
	    switch (role) {
		    case "F":
		    	$("tbody#Foerdermitglied").show();
		    	break;
		    case "S":
		    	$("tbody#Student").show();
		    	break;
		    case "G":
		    	$("tbody#Gesellschafter").show();
		    	break;
		    case "P":
		    	$("tbody#Partner").show();
		    	break;
		    case "M":
		    	$("tbody#Mitglied").show();
		    	break;
		    default:
		}		
	}
	switch_role();
</script>

