<h3>EE-Konten</h3>

<div style="overflow: auto">
	<table class="table table-striped tablesorter konto-list-table">
	  <thead>
	  <tr>
	    <!-- NU -->
	    <th class="header">EE-Konto</th>
	    <th class="header">Letzte Kontobewegung</th>
	    <th class="header">Währungssaldo</th>
	    <th class="header">Punktesaldo</th>
	    <% if current_user.Sonderberechtigung.size > 0 %>
	    	<th class="header">Einrichtungsdatum</th>
	    <% end %>
	    <th class="header">Dispo-Limit</th>
	    <th class="header">Konto-Nr.</th>
	    <th class="header">BLZ</th>
	    <th class="header">Kreditinstitut</th>
	    <!-- NU -->
	  </tr>
	  </thead>
	  
	  <tbody>
	  <% if @ee_konten.count == 0 %>
		<tr>
		  <td colspan="6">Es sind noch keine EE-Konten vorhanden.</td>
		</tr>
	  <% end %>
	 
		<% if @ee_konten.count > 0 %>
			<% @ee_konten.each do |ee_konto| %>
				<tr>
					<!-- NU -->
					<td class="zentriert"><a href="/Darlehensverlauf/<%= ee_konto.KtoNr %>/EE"><%= ee_konto.KtoNr %></a></td>
					<td class="zentriert"><%= ee_konto.OzbKonto.SaldoDatum.strftime("%d.%m.%Y") %></td>
					<td class="rechtsbuendig"><%= number_with_precision(ee_konto.OzbKonto.WSaldo, :precision => 2, :delimiter => ".") %></td>
					<td class="rechtsbuendig"><%= number_with_precision(ee_konto.OzbKonto.PSaldo, :delimiter => ".", :precision => 0) %></td>
					<% if current_user.Sonderberechtigung.size > 0 %>
						<td class="zentriert"><%= ee_konto.OzbKonto.KtoEinrDatum.strftime("%d.%m.%Y") %></td>
					<% end %>
					<td class="rechtsbuendig"><%= number_with_precision(ee_konto.Kreditlimit, :precision => 2, :delimiter => ".") %></td>				

					<% bv = ee_konto.Bankverbindung %>
					<% puts ">>>> DEBUG: bv: " + bv.inspect %>
					<% if !bv.nil?%>
						<td><%= bv.BankKtoNr %></td>
						<td class="zentriert"><%= bv.BLZ %></td>
						<td><%= bv.Bank.nil? ? '-' : bv.Bank.BankName %></td>
					<% else %>
						<td></td>
						<td class="zentriert"></td>
						<td></td>
					<% end %>
					<!-- NU -->
				</tr>
			<% end %>
	  <% end %>
	  </tbody>
	</table>
</div>