<h2>Editiere <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "E-Mail" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label "Passwort" %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label "Passwort bestätigen" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label "Aktuelles Passwort" %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Ändern" %></div>
<% end %>

<h3>Account löschen</h3>

<p>Unzufrieden? <%= link_to "Account löschen", registration_path(resource_name), :confirm => "Sind Sie sicher?", :method => :delete %>.</p>

<%= link_to "Zurück", :back %>
