<table class="searchTable">

  <tr>
    <th>Konto-Nr</th>
    <th>Mitglieds-Nr</th>
    <th>Mitglied <br/>(Name, Vorname)</th>
    <th>EinrDatum</th>
  </tr>

  <tr>  
    <%= form_tag({:action => "searchKtoNr"}, :id=>"searchKtoNrForm", :method => 'get') do %>
    <td><%= text_field_tag "ktoNr", "", :id => "ktoNr", :style => "width: 80px;" %></td>
    <td><%= text_field_tag "mnr", "", :style => "width: 80px;" %></td>
    <td>
      <table style="border:none">
        <tr>
          <td><%= text_field_tag "name", "", :style => "width: 80px;" %></td>
         <td><%= text_field_tag "vorname", "", :style => "width: 80px;" %></td>
        </tr>
      </table>
    </td>
    <td><%= text_field_tag "ktoEinrDatum", "", :style => "width: 80px;" %></td>
    <td><%= link_to_function "Suchen", "", :class => "submit_search", :onclick => "$('#searchKtoNrForm').submit(); return false;", :id => "searchButton" %></td>
    <% end %>
  </tr>
  
  <%= form_tag({:action => "kkl", :controller=>"OzbKonto"}, :id=>"kklForm", :method => 'post') do %>
    <% i = 0 %>
    <% @konten.each do |konto| %>  
    <% if i%2 == 0 then bg_color="white" else bg_color="lightgrey" end %>
    <tr style="background:<%= bg_color %>;">
      <td><%= konto.KtoNr %></td>
      <td><%= konto.Mnr %></td>
      <% person = Person.where(:pnr => OZBPerson.where(:mnr => konto.Mnr).first.UeberPnr).first %>
      <% if !person.nil? %>
        <td><%= person.Name.to_s + ", "+ person.Vorname.to_s %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <td><%= konto.KtoEinrDatum %></td>
      <%= hidden_field_tag "ktoNr[]", konto.KtoNr %>
      <td class="kklRow"style="display:none;">
        <%= select_tag "kkl[]", options_from_collection_for_select(Kontenklasse.all, "kkl", "kkl", konto.KKLVerlauf.last.KKL) %>
      </td>
      <td class="insert_td">
        <%= link_to_function "einfügen", "$('#ktoNr').val('"+konto.KtoNr.to_s+"'); $.fancybox.close() ", :class => "insert"%>
      </td>
    </tr>
    
    <% i += 1 %>
    <% end %>
  <% end %>
</table>
    
<!-- Seitennavigation -->
<div class="paginateBox" >
  <%= will_paginate @konten %> 
</div>

<br style="clear:both;" />

<div class="kklRow"style="display:none; margin-top: 20px;">
  <p style>
    Alle auswählen <%= check_box_tag "checkedAll" %> Klasse: <%= select_tag "kklAuswahl",
     options_from_collection_for_select(Kontenklasse.all, "kkl", "kkl") %>
  </p>
  <%= link_to_function "Speichern", "", :onclick => "$('#kklForm').submit(); return false;", :id => "saveButton" %>
</div>

<script>
  $(function () {  
    $('.pagination a').live('click',
      function () {  
        $.getScript(this.href, {search:"person"});  
        return false;  
      }   
    );  
  });    
  
  // Search form. 
  $('#searchKtoNrForm').submit(function () {  
    $.get('/application/suche_konten.js', $(this).serialize(), null, 'script');  
    return false;  
  }); 
  
  $(function() {
    $( "#ktoEinrDatum" ).datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script> 
