<h1>Kontoklasse</h1>
<h2>Neu anlegen</h2>


<%= form_for @kontenklasse, :url => { :action => "create" }, :html => {:id => "newForm"}  do |f| %>

  <% if !@errors.nil? && @errors.any? %>
  <div id="error_explanation">
    <h2><%= @errors.count %> Fehler <br /> Konnte keine Kontenklasse anlegen, weil:</h2>

    <ul>
      <% @errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <table>
    <tr>
      <td><b><%= label_tag "Kontenklasse:" %></b></td>
      <td><%= f.text_field :kkl %></td>
    </tr>
  
    <tr>
        <td><b><%= label_tag "Prozent:" %></b></td>
        <td><%= f.text_field :prozent %></td>
    </p>  
    
    <tr>
        <td><b><%= label_tag "AbDatum:" %></b></td>
        <td><%= f.text_field :kklAbDatum, :id => "kklAbDatum" %></td>
    </tr>
  </table>
  
  <%= link_to "Abbrechen", "/kontenklasse", :class => "cancel_link" %>
  <%= link_to_function "Ok", "this.form.submit()", :onclick => "$('#newForm').submit(); return false;", :class => "submit_ok" %>  
<% end %>


<script>
  $(function() {
    $( "#kklAbDatum" ).datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script>
