<header class="subhead" id="overview">
  <h1>WebImport > Buchungen</h1>
  <hr />
</header>

<% if !@error.blank? %>
	<div class="alert alert-error">
		<button class="close" data-dismiss="alert">&times;</button>
		<%= @error.html_safe %>
	</div>
<% end %>

<% if !@notice.blank? %>
	<div class="alert alert-success">
		<button class="close" data-dismiss="alert">&times;</button>
		<%= @notice.html_safe %>
	</div>
<% end %>

<% if !@info.blank? %>
	<div class="alert alert-warning"  style="overflow: auto; width: 890px;">
		<button class="close" data-dismiss="alert">&times;</button>
		<table class="table table-bordered table-striped tablesorter">
			<thead>
				<tr>
					<th class="header">Jahr</th>
					<th class="header">Kontonr.</th>
					<th class="header">Belegbk.</th>
					<th class="header">Belegnr.</th>
					<th class="header">Type</th>
					<th class="header">Belegsdat.</th>
					<th class="header">Buchungsdat.</th>
					<th class="header">Buchungstext</th>
					<th class="header">Sollbetrag</th>
					<th class="header">Habenbetrag</th>
					<th class="header">Sollkonto</th>
					<th class="header">Habenkonto</th>
					<th class="header">Pnkte</th>
				</tr>
			</thead>
			<tbody>
				<% @info.each do |row| %>
		         <tr>
		           <td class="zentriert"><%= row.BuchJahr.to_s %></td>
		           <td class="zentriert"><%= row.KtoNr.to_s %></td>
		           <td class="zentriert"><%= row.BnKreis.to_s %></td>
		           <td class="zentriert"><%= row.BelegNr.to_s %></td>
		           <td class="zentriert"><%= row.Typ.to_s %></td>
		           <td class="zentriert"><%= row.Belegdatum.to_s %></td>
		           <td class="zentriert"><%= row.BuchDatum.to_s %></td>
		           <td class="zentriert"><%= row.Buchungstext.to_s %></td>
		           <td class="zentriert"><%= row.Sollbetrag.to_s %></td>
		           <td class="zentriert"><%= row.Habenbetrag.to_s %></td>
		           <td class="zentriert"><%= row.SollKtoNr.to_s %></td>
		           <td class="zentriert"><%= row.HabenKtoNr.to_s %></td>
		           <td class="zentriert"><%= row.Punkte.to_s %></td>
		         <tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>

<div class="alert alert-info">
	<ol>
		<li>Wählen Sie zunächst eine CSV-Datei auf Ihrem Computer aus.</li>
		<li>Klicken Sie auf den Button "importieren", um den Importvorgang zu starten.</li>
	</ol>
</div>

<%= form_for :webimport, :url => { :controller => "webimport", :action => "csvimport_buchungen" }, :html => { :multipart => true } do |form| %>
	<%= form.file_field :file, :id => "csvfile", :style => "display:none" %>
	
	<div class="row">
		<div class="span2">
			<strong>CSV-Datei:</strong>
		</div>
		
		<div class="span8">
			<div class="input-append">
			   <input id="fakefile-field" class="input-large" type="text">
			   <a id="fakefile-button" class="btn">Auswählen...</a>
			</div>
		</div>
		<div class="span2">
 			<%= form.submit :value => "importieren", :class => "btn btn-primary" %>
		</div>
	</div>

	
	<br />
	
<% end %> 

<!-- http://duckranger.com/2012/06/pretty-file-input-field-in-bootstrap/ -->
<script type="text/javascript">
	$('input[id=csvfile]').change(function() {
		$('#fakefile-field').val($(this).val());
	});
	
	$('#fakefile-field').click(function() {
		$('input[id=csvfile]').click();
	});
	
	$('#fakefile-button').click(function() {
		$('input[id=csvfile]').click();
	});
</script>