<header class="subhead" id="overview">
  <h1>WebImport > Buchungen</h1>
  <hr />
</header>

<% if !@error.blank? %>
	<div class="alert alert-error">
		<button class="close" data-dismiss="alert">&times;</button>
		<%= @error.html_safe %>
	</div>
<% end %>

<% if !@notice.blank? %>
	<div class="alert alert-success">
		<button class="close" data-dismiss="alert">&times;</button>
		<%= @notice.html_safe %>
	</div>
<% end %>

<% if !@info.blank? %>
	<div class="alert alert-warning"  style="overflow: auto; width: 890px;">
		<button class="close" data-dismiss="alert">&times;</button>
		<table class="table table-bordered table-striped" width="100%">
			<thead>
				<tr>
					<th class="header">Jahr</th>
					<th class="header">Ktonr.</th>
					<th class="header">BBK</th>
					<th class="header">Bnr.</th>
					<th class="header">T</th>
					<th class="header">Belegsdat.</th>
					<th class="header">Buchungsdat.</th>
					<th class="header">Buchungstext</th>
					<th class="header">Soll</th>
					<th class="header">Haben</th>
				</tr>
			</thead>
			<tbody>
				<% @info.each do |row| %>
		         <tr>
		           <td class="zentriert"><%= row.BuchJahr.to_s %></td>
		           <td class="zentriert"><%= row.KtoNr.to_s %></td>
		           <td class="zentriert"><%= row.BnKreis.to_s %></td>
		           <td class="zentriert"><%= row.BelegNr.to_s %></td>
		           <td class="zentriert"><%= row.Typ.to_s %></td>
		           <td class="zentriert"><%= row.Belegdatum.to_s %></td>
		           <td class="zentriert"><%= row.BuchDatum.to_s %></td>
		           <td class=""><%= row.Buchungstext.to_s %></td>
		           <td class="zentriert"><%= row.Sollbetrag.to_s %></td>
		           <td class="zentriert"><%= row.Habenbetrag.to_s %></td>
		         <tr>
				<% end %>
			</tbody>
		</table>
	<ul>
		<li>(BBK) Belegbuchungskreis </li>
		<li>(Bnr.) Belegnummer</li>
		<li>(T) Tüp</li>
	</ul>
	</div>
<% end %>

<% if !@failed_records.blank? %>
	<div class="alert alert-error">
		<button class="close" data-dismiss="alert">&times;</button>
		<h4>Fehlerhafte Einträge:</h4>
		<br />
		<table class="table table-condensed" width="100%">
			<thead>
				<tr>
					<th class="header">Belegdatum</th>
					<th class="header">Buchungsdatum</th>
					<th class="header">BBK</th>
					<th class="header">Bnr.</th>
					<th class="header">Buchungstext</th>
					<th class="header">Buchungsbetrag / Kontonummer</th>
					<th class="header">Sollkonto</th>
					<th class="header">Habenkonto</th>
				</tr>
			</thead>

			<tbody>
				<% @failed_records.each do |record| %>
			         <tr>
					<% if record.instance_of?(Buchung) %>
			           <td class="zentriert"><%= record.Belegdatum.to_s %></td>
			           <td class="zentriert"><%= record.BuchDatum.to_s %></td>
			           <td class="zentriert"><%= record.BnKreis.to_s %></td>
			           <td class="zentriert"><%= record.BelegNr.to_s %></td>
			           <td class=""><%= record.Buchungstext.to_s %></td>
			           <td class="zentriert"><%= record.KtoNr.to_s %></td>
			           <td class="zentriert"><%= record.Sollbetrag.to_s %></td>
			           <td class="zentriert"><%= record.Habenbetrag.to_s %></td>
					<% else %>
			           <td class="zentriert"><%= record[0].to_s %></td>
			           <td class="zentriert"><%= record[1].to_s %></td>
			           <td class="zentriert"><%= record[2] %></td>
			           <td class="zentriert"><%= record[3] %></td>
			           <td class="zentriert"><%= record[4] %></td>
			           <td class="zentriert"><%= record[5] %></td>
			           <td class="zentriert"><%= record[6] %></td>
			           <td class="zentriert"><%= record[7] %></td>
					<% end %>
			         <tr>
				<% end %>
			</tbody>
		</table>
		<ul>
			<li>(BBK) Belegbuchungskreis </li>
			<li>(Bnr.) Belegnummer</li>
		</ul>
	</div>
<% end %>

<div class="alert alert-info">
	<ol>
		<li>Wählen Sie zunächst eine CSV-Datei auf Ihrem Computer aus.</li>
		<li>Klicken Sie auf den Button "importieren", um den Importvorgang zu starten.</li>
	</ol>
</div>

<%= form_for :webimport, :url => { :controller => "webimport", :action => "csvimport_buchungen" }, :html => { :multipart => true } do |form| %>
	<%= form.file_field :file, :id => "csvfile", :style => "display:none" %>
	
	<div class="row">
		<div class="span2">
			<strong>CSV-Datei:</strong>
		</div>
		
		<div class="span8">
			<div class="input-append">
			   <input id="fakefile-field" class="input-large" type="text">
			   <a id="fakefile-button" class="btn">Auswählen...</a>
			</div>
		</div>
		<div class="span2">
 			<%= form.submit :value => "importieren", :class => "btn btn-primary" %>
		</div>
	</div>

	
	<br />
	
<% end %> 

<!-- http://duckranger.com/2012/06/pretty-file-input-field-in-bootstrap/ -->
<script type="text/javascript">
	$('input[id=csvfile]').change(function() {
		$('#fakefile-field').val($(this).val());
	});
	
	$('#fakefile-field').click(function() {
		$('input[id=csvfile]').click();
	});
	
	$('#fakefile-button').click(function() {
		$('input[id=csvfile]').click();
	});
</script>