<h1>Meine Konten</h1>

<h2>Guten Tag,  <%=@current_person.vorname%> <%= @current_person.name %></h2>


<br />
<h3>Einlage-/Entnahmekonten</h3>

<table>
  <tr>
    <th>Konto-Nr.</th>
    <th>Saldo</th>
    <th>Punkte</th>
    <th />
  </tr>
  <% i=0 %>
  <% current_OZBPerson.OZBKonto.each do |konto| %>
    <% if !konto.EEKonto.first.nil? then %>
    <% if i%2 == 0 then bg_color="white" else bg_color="lightgrey" end %>
    <tr style="background:<%= bg_color %>;">
      <td>
        <a href="/OZBPerson/<%= current_OZBPerson.id %>/Konto/EE/<%= konto.EEKonto.first.ktoNr %>/buchungen"><%= konto.EEKonto.first.ktoNr %></a>
      </td>
      <td>
        <%= konto.wSaldo %>
      </td>
      <td>
        <%= konto.pSaldo %>
      </td>
      <td class = "detail_link_td">
        <a href="/OZBPerson/<%= current_OZBPerson.id %>/Konto/EE/<%= konto.EEKonto.first.ktoNr %>/buchungen" class="detail_link">Detail</a>
      </td>
    </tr>
    <% i += 1 %>
    <% end %>
  <% end %>
</table>

<br />
<h3>Zusatzentnahmekonten</h3>

<table>
  <tr>
    <th>Konto-Nr.</th>
    <th>Saldo</th>
    <th>Punkte</th>
    <th />
  </tr>
  <% i=0 %>
  <% current_OZBPerson.OZBKonto.each do |konto| %>
    <% if !konto.ZEKonto.first.nil? then %>
    <% if i%2 == 0 then bg_color="white" else bg_color="lightgrey" end %>
    <tr style="background:<%= bg_color %>;">
      <td>
        <a href="/OZBPerson/<%= current_OZBPerson.id %>/Konto/ZE/<%= konto.ZEKonto.first.ktoNr %>/buchungen"><%= konto.ZEKonto.first.ktoNr %></a>
      </td>
      <td>
        <%= konto.wSaldo %>
      </td>
      <td>
        <%= konto.pSaldo %>
      </td>
      <td class = "detail_link_td">
        <a href="/OZBPerson/<%= current_OZBPerson.id %>/Konto/EE/<%= konto.EEKonto.first.ktoNr %>/buchungen" class="detail_link">Detail</a>
      </td>
    </tr>
    <% i += 1 %>
    <% end %>
  <% end %>
</table>
