<!DOCTYPE html>
<html>
<head>
  <title>OZB - Ohne ZinsBewegung Stuttgart und Karlsruhe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %> 
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        <font color="white">
          <font color="blue">B</font>esser 
          <font color="red">o</font>hne 
          <font color="blue">/ </font>
          <font color="red">Z</font>ins
        </font>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li <% if getCurrentLocation == "/MeineKonten" || getCurrentLocation == "/" %>class="active"<%end%>><a href="/MeineKonten">Meine Konten</a></li>
          
          <li <% if getCurrentLocation.include? "/MeineDaten" %>class="active"<%end%>><a href="/MeineDaten/Details">Meine Daten</a></li>
          
          <li><a href="#">Protokolle</a></li>
          <li><a href="#">o/ZBlick</a></li>

          <% if is_allowed(current_user, 20) %>
            <li <% if getCurrentLocation == "/Verwaltung/Mitglieder" %>class="active"<%end%>><a href="/Verwaltung/Mitglieder">Mitglieder</a></li>
            <li class="dropdown <% if getCurrentLocation.include? "Optionen" %>active<%end%>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Weiteres <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li <% if getCurrentLocation == "/Verwaltung/Veranstaltungen" %>class="active"<%end%>><a href="/Verwaltung/Veranstaltungen">Veranstaltungen</a>
                </li>
                <% if isCurrentUserAdmin %>
                <li <% if getCurrentLocation == "/Verwaltung/WebImport" %>class="active"<%end%>><a href="/Verwaltung/WebImport">WebImport</a></li>
                <li <% if getCurrentLocation == "/Verwaltung/Darlehensvertrag" %>class="active"<%end%>><a href="/Verwaltung/Darlehensvertrag">Darlehensvertrag</a></li>
                <%end%>
              </ul>
            </li>
          <% end %>
        </ul>
        <ul class="nav pull-right">
          <!---<i class="icon-off icon-white"></i>--->
          <li><%= link_to raw("<i class=\"icon-off icon-white\"></i> Ausloggen"), destroy_user_session_path, :method => :delete, :style => "color: #ff4500;" %></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /container -->
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->
<% end %>
<br /><br /><br />

<div class="container">
<%= yield %>
</div> <!-- /container -->

</body>
</html>