<h1>Edtieren</h1>
<%= link_to "zurück", "/buergschaften" %>


<% buergschafter = Person.where(:pnr => @buergschaft.pnrB).first %>
<% gesellschafter = Person.where( :pnr => OZBPerson.where(:mnr => @buergschaft.mnrG).first.ueberPnr ).first %>

<%= form_tag({:action => "save"}, :id=>"editForm") do %>
  <table style="margin: 10px auto;">
    <tr> 
      <td><b><%= label_tag "Buergschafter:" %></b></td>
      <td>
        <% if !buergschafter.nil? then %>
          <%= label_tag :nameB, buergschafter.name.to_s + "," + buergschafter.vorname.to_s %>  
        <% else %>
          <%= label_tag :nameB, "nicht gefunden" %>
        <% end %>
        <%= hidden_field_tag :pnrB, @buergschaft.pnrB %>  
      </td>
    </tr>
  
    <tr>
      <td><b><%= label_tag "Gesellschafter:" %></b></td>
      <td>
        <% if !gesellschafter.nil? then %>
          <%= label_tag :nameB, gesellschafter.name.to_s + "," + gesellschafter.vorname.to_s %>  
        <% else %>
          <%= label_tag :nameG, "nicht gefunden" %>
        <% end %>
        <%= hidden_field_tag :mnrG, @buergschaft.mnrG %>  
      </td>
    </tr>  
  
    <tr>
      <td><b><%= label_tag "sichAbDatum:" %></b></td>
      <td>
        <%= label_tag :sichAbDatum, @buergschaft.sichAbDatum %>  
        <%= hidden_field_tag :sichAbDatum, @buergschaft.sichAbDatum %>  
      </td>
    </tr>
    
    <tr>
      <td><b><%= label_tag "Konto-Nr.:" %></b></td>
      <td><%= text_field_tag :ktoNr, @buergschaft.ktoNr %></td>
      <td><%= link_to "Suchen...", "#searchKtoNrFrame", :id => "searchKtoNr" %></td>
    </tr>
  
    <tr>
      <td><b><%= label_tag "sichEndDatum:" %></b></td>
      <td><%= text_field_tag :sichEndDatum, @buergschaft.sichEndDatum %></td>
    </tr>
  
    <tr>
      <td><b><%= label_tag "sichBetrag:" %></b></td>
      <td><%= text_field_tag :sichBetrag, @buergschaft.sichBetrag %></td>
    </tr>
  
    <tr>
      <td><b><%= label_tag "sichKurzBez:" %></b></td>
      <td><%= text_field_tag :sichKurzBez, @buergschaft.sichKurzBez %></td>
    </tr>
  </table>
  <%= link_to_function "Ok", "this.form.submit()", :onclick => "$('#editForm').submit(); return false;" %>	

<% end %>

<script>
  $(function() {
    $( "#sichEndDatum" ).datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });

  $(function() {
    var availableTagsKonto = [
        <% tags = String.new %>
        <% OZBKonto.all.each do |konto| %>
            <% tags += "'" + konto.ktoNr.to_s + "'" + "," %>
        <% end %>
        <%= tags.chop %>
      ];
    
      $( "#ktoNr" ).autocomplete({
        source: availableTagsKonto
      });
   });
    
</script>


<div style="display:none">
  <div id="searchKtoNrFrame">
    <div id="konten"><%= render 'application/suche_konten' %></div>  
  </div>
</div>


<script>
  $(document).ready(function() {
    $("#searchKtoNr").fancybox();
  });
</script>
