<h1>Neu anlegen</h1>
<%= link_to "zurück", "/buergschaften" %>

<%= form_tag({:action => "save"}, :id=>"newForm") do %>

  <table style="margin: 10px auto;">
    <tr>
      <td><b><%= label_tag "Buergschafter:" %></b></td>
      <td><%= text_field_tag :pnrB %></td>
      <td><%= link_to "Suchen...", "#searchOZBPersonFrame", :id => "searchBFrame" %></td>
      </td>
    </tr>
  
  <tr>
      <td><b><%= label_tag "Gesellschafter:" %></b></td>
      <td><%= text_field_tag :mnrG %></td>
      <td><%= link_to "Suchen...", "#searchOZBPersonFrame", :id => "searchGFrame" %></td>
  </p>  
  
  <tr>
      <td><b><%= label_tag "sichAbDatum:" %></b></td>
      <td><%= text_field_tag :sichAbDatum %></td>
  </p>
  
  <tr>
      <td><b><%= label_tag "Konto-Nr.:" %></b></td>
      <td><%= text_field_tag :ktoNr %></td>
      <td><%= link_to "Suchen...", "#searchKtoNrFrame", :id => "searchKtoNr" %></td>
  </p>
  
  <tr>
      <td><b><%= label_tag "sichEndDatum:" %></b></td>
      <td><%= text_field_tag :sichEndDatum %></td>
  </p>
  
  <tr>
      <td><b><%= label_tag "sichBetrag:" %></b></td>
      <td><%= text_field_tag :sichBetrag %></td>
  </p>
  
  <tr>
      <td><b><%= label_tag "sichKurzBez:" %></b></td>
      <td><%= text_field_tag :sichKurzBez %></td>
  </p>
  
  </table>
  <%= link_to_function "Ok", "this.form.submit()", :onclick => "$('#newForm').submit(); return false;" %>	

<% end %>


<div style="display:none">
  <div id="searchKtoNrFrame">
    <div id="konten"><%= render 'application/suche_konten' %></div>  
  </div>
</div>

<div style="display:none">
  <div id="searchOZBPersonFrame">
    <div id="personen"><%= render 'application/suche_ozb_personen' %></div>  
  </div>
</div>


<script>

  var insertId = "#pnrB";

  $("#searchBFrame").click(function(){
    insertId = "#pnrB";
  });
  
  $("#searchGFrame").click(function(){
    insertId = "#mnrG";
  });

  $(document).ready(function() {
    $("#searchKtoNr").fancybox();
    $("#searchBFrame").fancybox();
    $("#searchGFrame").fancybox();    
  });
  
  $(function() {
    var availableTagsB = [
      <% tags = String.new %>
      <% Person.all.each do |person| %>
        <% if person.rolle.to_str == 'B' then %>
          <% tags += "'" + person.pnr.to_s + "'" + "," %>
        <% end %>
      <% end %>
      <%= tags.chop %>
      ];
    $( "#pnrB" ).autocomplete({
      source: availableTagsB
    });
    
    var availableTagsG = [
      <% tags = String.new %>
      <% Person.all.each do |person| %>
        <% if person.rolle.to_str == 'G' then %>
          <% tags += "'" + person.pnr.to_s + "'" + "," %>
        <% end %>
      <% end %>
      <%= tags.chop %>
      ];
    $( "#mnrG" ).autocomplete({
      source: availableTagsG
    });
    
    
    var availableTagsKonto = [
      <% tags = String.new %>
      <% OZBKonto.all.each do |konto| %>
          <% tags += "'" + konto.ktoNr.to_s + "'" + "," %>
      <% end %>
      <%= tags.chop %>
      ];
    $( "#ktoNr" ).autocomplete({
      source: availableTagsKonto
    });
    
  });
  
</script>

<script>
  $(function() {
    $( "#sichEndDatum" ).datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
  
  $("td.insertRow").css("display", "block");
  
  $(function() {
    $( "#sichAbDatum" ).datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script>
