<%= render :partial => '/verwaltung/navigation' %>

<div class="page-header">
	<h1>Bürgschaften <small> Historie</small></h1>
</div>

<% if !@buergschaften[0].empty? || !@buergschaften[1].empty? then %>

	<% @buergschaften.each do |buergschaften| %>
		<% if buergschaften.empty? %>
		 	<div class="well well-small">
		    <h2 align="center"><small>Es sind derzeit keine historisierten <%= @count == 0 ? "vergebenen" : "erhaltenen" %> Bürgschaften vorhanden.</small></h2>
		  </div>
		<% else %>
	    <table id ="histo" class="table table-bordered table-striped tablesorter">
				<thead>
					<tr>
						<th class="header"><%= @count == 0 ? "Vergeben an" : "Erhalten von" %></th>
						<th class="header"><%= Buergschaft.human_attribute_name(:ZENr) %></th>
						<th class="header" title ="ZE- Konto Betrag"><%= ZeKonto.human_attribute_name(:ZEBetrag) %></th>
						<th class="header"><%= Buergschaft.human_attribute_name(:SichKurzbez) %></th>
						<th class="header" title = "Bürgschaft Betrag"><%= Buergschaft.human_attribute_name(:SichBetrag) %></th>
						<th class="header"><%= Buergschaft.human_attribute_name(:SichAbDatum) %></th>
						<th class="header"><%= Buergschaft.human_attribute_name(:SichEndDatum) %></th>
						<th class="header"><%= ZeKonto.human_attribute_name(:Laufzeit) %></th>
						<th class="header">SachPnr</th>
					</tr>
				</thead>

				<tbody>
					<% buergschaften.each do |buergschaft, zeKonto, person| %>
						<tr>
							<td><%= person.fullname %></td>
							<td><%= buergschaft.ZENr %></td>
							<td style="text-align: right;"><%= number_to_currency(zeKonto.ZEBetrag, :unit => "")%></td>
							<td><%= buergschaft.SichKurzbez.empty? ? '-' : buergschaft.SichKurzbez%></td>
							<td style="text-align: right;"><%= number_to_currency(buergschaft.SichBetrag, :unit => "") %></td>
							<td><%= buergschaft.SichAbDatum.strftime("%d.%m.%Y") %></td>
							<td><%= buergschaft.SichEndDatum.strftime("%d.%m.%Y") %></td>
							<td><%= zeKonto.Laufzeit %></td>
							<td><%= buergschaft.SachPnr.blank? ? '-' : buergschaft.SachPnr%></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
		<% @count = 1 %>
	<% end %>

<% else %>
	<div class="well well-small">
		<h2 align="center"><small>Es sind derzeit keine historisierten Bürgschaften vorhanden.</small></h2>
	</div>
<% end %>

<div class="form-actions">
	<div class="row-fluid">
		<div class="span6" align="left">
			<a href="javascript:history.back(-1);" class="btn">Zurück</a>
		</div>
	</div>
</div>

<script>
var table=$("table#histo");
$(document).ready(function() { 
  table.tablesorter(); 

});

</script>
