<h1>Editieren</h1>
<%= link_to "zurück", "/kontoklasse" %>

<%= form_tag({:action => "save"}, :id=>"editForm") do %>

  <table style="margin: 10px auto;">
    <tr>
      <td><b><%= label_tag "Kontoklasse:" %></b></td>
      <td>
        <%= label_tag :kkl, @kontoklasse.kkl %>  
        <%= hidden_field_tag :kkl, @kontoklasse.kkl %>  
      </td>
    </tr>
    

    <tr>
      <td><b><%= label_tag "Prozent:" %></b></td>
      <td><%= text_field_tag :prozent, @kontoklasse.prozent %></td>
    </tr>  
  
    <tr>
      <td><b><%= label_tag "AbDatum:" %></b></td>
      <td><%= text_field_tag :kklAbDatum, @kontoklasse.kklAbDatum %></td>
    </tr>
  </table>
  
  <%= link_to_function "Ok", "this.form.submit()", :onclick => "$('#editForm').submit(); return false;" %>	

<% end %>

<script>
  $(function() {
    $( "#kklAbDatum" ).datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script>
