<h1>Kontoklassen</h1>
<%= link_to :zurueck, "/" %>


<table style="border: 1px solid">
  <tr>
    <td>Name</td>
    <td>Prozent</td>
  </tr>

  <% @kontoklassen.each do |kkl| %>
  
    <tr>
      <td><%= kkl.kkl %></td>
      <td><%= kkl.prozent %></td>
      <% edit_link = "/kontoklasse/" + kkl.kkl.to_s %>
      <% delete_link = "/kontoklasse/" + kkl.kkl.to_s + "/delete" %>
      <td><%= link_to "Editieren", edit_link %></td>
      <td><%= link_to "Löschen", delete_link %></td>
    </tr>
  
  <% end %>
  
  <tr>
    <td><%= link_to "Neu", "/kontoklasse/new" %></td>
  </tr>

</table>
