<h1>Person</h1>
<% if @disabled then %>
	<h2>Details</h2>
<% else %>
	<h2>Bearbeiten</h2>
<% end %>


<%= form_tag({:action => "edit"}, :id=>"editForm") do %>

<table>
	
	<tr>
		<td><%= label_tag "Person-Nr.:" %></td>
		<td><%= text_field_tag :mnr, @OZBPerson.mnr, :disabled => true %></td>
		<td />
    	<%= hidden_field_tag :mnr, @OZBPerson.mnr %>
	</tr>
	
	<tr>
		<td><%= label_tag "Name:" %></td>
		<td><%= text_field_tag :name, @Person.name, :disabled => @disabled %></td>
		<td />
	</tr>
	
	<tr>
		<td><%= label_tag "Vorname:" %></td>
		<td><%= text_field_tag :vorname, @Person.vorname, :disabled => @disabled %></td>
		<td />
	</tr>
	
	<tr>
		<td><%= label_tag "Email:" %></td>
		<td><%= email_field_tag :email, @OZBPerson.email, :disabled => @disabled %></td>
		<td />
	</tr>	
	
	<tr>
		<td><%= label_tag "Passwort:" %></td>
		<td><%= password_field_tag :passwort, "********", :disabled => @disabled %></td>
		<td />
	</tr>	
	  
	<tr>
		<td><%= label_tag "Geburtsdatum:" %></td>
		<td><%= text_field_tag :gebDatum, @Person.geburtsdatum, :disabled => @disabled %></td>
		<td />
	</tr>  
	  
	<tr>
		<td><%= label_tag "Straße:" %></td>
		<td><%= text_field_tag :strasse, @Person.strasse, :disabled => @disabled %></td>
		<td />
	</tr>
	
	<tr>
		<td><%= label_tag "Hausnummer:" %></td>
		<td><%= text_field_tag :hausnr, @Person.hausnr, :disabled => @disabled %></td>
		<td />
	</tr>
	
	<tr>
		<td><%= label_tag "PLZ:" %></td>
		<td><%= text_field_tag :plz, @Person.plz, :disabled => @disabled %></td>
		<td />
	</tr>
	
	<tr>
		<td><%= label_tag "Ort:" %></td>
		<td><%= text_field_tag :ort, @Person.ort, :disabled => @disabled %></td>
		<td />
	</tr>
	
	<tr>
		<td><%= label_tag "Telefon:" %></td>
		<% if @Telefon[0] != nil %>
			<td><%= text_field_tag :telefon, @Telefon[0].telefonNr, :disabled => @disabled %></td>
		<% else %>
			<td><%= text_field_tag :telefon, "", :disabled => @disabled %></td>
		<% end %>
		<td />
	</tr>
	
	<tr>
		<td><%= label_tag "Fax:" %></td>
		<% if @Fax[0] != nil %>		
			<td><%= text_field_tag :fax, @Fax[0].telefonNr, :disabled => @disabled %></td>
		<% else %>
			<td><%= text_field_tag :fax, "", :disabled => @disabled %></td>
		<% end %>
		<td />
	</tr>
  
  	<tr>
    	<td><%= label_tag "Rolle:" %></td>
        <td><%= text_field_tag :rolle, @Rollen2.fetch(@Person.rolle), :disabled => true %></td>
		<td />
  	</tr>

    <% if @Student != nil then %>
    <div id="Student">
      <tr>
		    <td><%= label_tag "Ausbildungsbezeichnung:" %></td>
		    <td><%= text_field_tag :ausbildBez, @Student.ausbildBez, :disabled => @disabled %></td>
			<td />
	    </tr>

  		<tr>
		    <td><%= label_tag "Institut:" %></td>
		    <td><%= text_field_tag :institutName, @Student.institutName, :disabled => @disabled %></td>
			<td />
	    </tr>

  		<tr>
		    <td><%= label_tag "Studienort:" %></td>
		    <td><%= text_field_tag :studienort, @Student.studienort, :disabled => @disabled %></td> 
			<td />
	    </tr>

  		<tr>
		  <td><%= label_tag "Studienbeginn:" %></td>
		  <td><%= text_field_tag :studienbeginn, @Student.studienbeginn, :disabled => @disabled %></td>  
			<td />
	    </tr>

  		<tr>
		  <td><%= label_tag "Studienende:" %></td>
		  <td><%= text_field_tag :studienende, @Student.studienende, :disabled => @disabled %></td>  
			<td />
	    </tr>

  		<tr>
		  <td><%= label_tag "Abschluss:" %></td>
		  <td><%= text_field_tag :abschluss, @Student.abschluss, :disabled => @disabled %></td>  
			<td />
	    </tr>
  	</div>
  	<% end %>
  	
  	<% if @Gesellschafter != nil then %>
  	<div id="Gesellschafter">
  		<tr>
			  <td><%= label_tag "FA Steuernummer:" %></td>
			  <td><%= text_field_tag :faSteuerNr, @Gesellschafter.faSteuerNr, :disabled => @disabled %></td>  
			<td />
		  </tr>

  		<tr>
			  <td><%= label_tag "FA Lfd. Nr.:" %></td>
			  <td><%= text_field_tag :faLfdNr, @Gesellschafter.faLfdNr, :disabled => @disabled %></td>  
			<td />
		  </tr>

  		<tr>
			  <td><%= label_tag "Wohnsitzfinanzamt:" %></td>
			  <td><%= text_field_tag :wohnsitzFinanzamt, @Gesellschafter.wohnsitzFinanzamt, :disabled => @disabled %></td>  
			<td />
		  </tr>

  		<tr>
			  <td><%= label_tag "Notar:" %></td>
			  <td><%= text_field_tag :notarPnr, @Gesellschafter.notarPnr, :disabled => @disabled %></td>
			  <% if @disabled then %>
				<td></td>
			<% else %>
			  <td class="searchlink_td"><%= link_to "Suchen...", "#searchOZBPersonFrame", :id => "searchNotarFrame", :class => "searchlink" %></td>  
			<% end %>
		  </tr>

  		<tr>
			  <td><%= label_tag "Beurkundungsdatum:" %></td>
			  <td><%= text_field_tag :beurkDatum, @Gesellschafter.beurkDatum, :disabled => @disabled %></td>  
			<td />
		  </tr>
  	</div>
  	<% end %>

  	<% if @Foerdermitglied != nil then %>
  	<div id="Foerdermitglied">
  		<tr>
			  <td><%= label_tag "Region" %></td>
			  <td><%= text_field_tag :region, @Foerdermitglied.region, :disabled => @disabled %></td>  
			<td />
		  </tr>

  		<tr>
			  <td><%= label_tag "Förderbeitrag" %></td>
			  <td><%= text_field_tag :foerderbeitrag, @Foerdermitglied.foerderbeitrag, :disabled => @disabled %></td>  
			<td />
		  </tr>
  	</div>
  	<% end %>
  	
  	<% if @Mitglied != nil %>
  	<div id="Mitglied">
  	  		<tr>
			  <td><%= label_tag "RV Datum:" %></td>
			  <td><%= text_field_tag :rvDatum, @Mitglied.rvDatum, :disabled => @disabled %></td>
			<td />
		  </tr>
  	</div>
  	<% end %>
  	
  	<% if @Partner != nil %>
  	<div id="Partner">
  		<tr>
			  <td><%= label_tag "Partner:" %></td>
			  <td><%= text_field_tag :partner, @Partner.mnrO, :disabled => @disabled %></td>
			  <% if @disabled then %>
				<td></td>
			<% else %>
			  <td class="searchlink_td"><%= link_to "Suchen...", "#searchOZBPersonFrame", :id => "searchPartnerFrame", :class => "searchlink" %></td>
			<% end %>
		  </tr>
		
		  <tr>
			  <td><%= label_tag "Berechtigung" %></td>
			  <td><%= text_field_tag :berechtigung, @Partner.berechtigung, :disabled => @disabled %></td>
			<td />
		  </tr>
  	</div>
  	<% end %>
  	
  	<tr>
	  	<td><%= label_tag "Antragsdatum *:" %></td>
	  	<td><%= text_field_tag :antragsdatum, @Person.antragsdatum, :disabled => @disabled %></td>  
		<td />
  	</tr>

  	<tr>
	  	<td><%= label_tag "Aufnahmedatum:" %></td>
		<td><%= text_field_tag :aufnahmedatum, @Person.aufnahmedatum, :disabled => @disabled %></td>
		<td />
  	</tr>	   
	
</table>

<div style="display:none">
	<div id="searchOZBPersonFrame">
		<div id="personen"><%= render 'application/suche_ozb_personen' %></div>  
	</div>
</div>
<% end %>



<table class="actions">
  <tr>
    <td><%= link_to "Zurück", "/OZBPerson", :class => "cancel_link" %></td>
    <% if !@disabled then %>    
    <td><%= link_to_function "Ok", "this.form.submit()", :onclick => "$('#editForm').submit(); return false;", :class => "submit_ok" %>	</td>
   	<% end %>
  </tr>
</table>

<script>
  var insertId = "#notartdnr";
	
	$("#searchNotarFrame").click(function(){
		insertId = "#notartdnr";
	});
	
	$("#searchPartnerFrame").click(function() {
		insertId = "#partner";
	});
	
	$(document).ready(function() {
	    $("#searchNotarFrame").fancybox();
	    $("#searchPartnerFrame").fancybox();
	});
	
	$(function() {
		$( "#studienbeginn" ).datepicker({
			dateFormat: 'dd.mm.yy'
 		});
	});
	$(function() {
		$( "#studienende" ).datepicker({
			dateFormat: 'dd.mm.yy'
 		});
	});
	$(function() {
		$( "#beurkDatum" ).datepicker({
			dateFormat: 'dd.mm.yy'
 		});
	});
	$(function() {
		$( "#antragsdatum" ).datepicker({
			dateFormat: 'dd.mm.yy'
 		});
	});
	$(function() {
		$( "#aufnahmedatum" ).datepicker({
			dateFormat: 'dd.mm.yy'
		});
	});
	
	$(function() {
		var availableTagsB = [
			<% tags = String.new %>
			<% Person.all.each do |person| %>
				<% tags += "'" + person.pnr.to_s + "'" + "," %>
			<% end %>
			<%= tags.chop %>
		];
		$( "#notartdnr" ).autocomplete({
		source: availableTagsB
    	});
	});
</script>
