<h1>Personen</h1>

<table>
  <tr>
    <th>Nr.</th>
    <th>Name</th>
    <th />
    <th />
    <th />
  </tr>
  
  <% i = 0 %>
  <% @OZBPersonen.each do |person| %>
    <% if i%2 == 0 then bg_color="white" else bg_color="lightgrey" end %>
      <tr style="background:<%= bg_color %>;">
        <td><%= person.mnr %></td>	
			  <% current_person = Person.find(person.ueberPnr) %>
			  <td><%= current_person.name + ", " + current_person.vorname %></td>
			  <td><a href="/OZBPerson/<%= person.mnr %>/Konto" class="konto_link">Konten</a></td>
			  <% edit_link = "/OZBPerson/" + person.mnr.to_s %>
        <% delete_link = "/OZBPerson/" + person.mnr.to_s + "/delete" %>
      <% if current_OZBPerson.canEditB then %>
      	<% edit_link_name = "Bearbeiten" %>
      <% else %>
      	<% edit_link_name = "Details" %>
      <% end %>
      <td><%= link_to edit_link_name, edit_link, :class => "edit_link" %></td>
      <td><%= link_to "Löschen", delete_link, :class => "delete_link", :confirm => "Möchten Sie " + current_person.name + ", " + current_person.vorname + " wirklich löschen?" %></td>
      </tr>
      <% i += 1 %>
  <% end %>
</table>

<%= will_paginate @OZBPersonen %>

<br />


<table class="actions">
  <tr>
    <td><%= link_to "Zurück", "/Admin", :class => "cancel_link" %></td>
    <td><%= link_to 'OZB Person hinzufügen', "/OZBPerson/new", :class => "submit_ok" %></td>
  </tr>
</table>
