<h1>OZB Personen</h1>

<table>
  <tr>
    <th>Nr.</th>
    <th>Name</th>
    <th />
    <th />
  </tr>
  
  <% i = 0 %>
  <% @OZBPersonen.each do |person| %>
    <% if i%2 == 0 then bg_color="white" else bg_color="lightgrey" end %>
      <tr style="background:<%= bg_color %>;">
        <td><%= person.mnr %></td>	
			  <% current_person = Person.find(person.ueberPnr) %>
			  <td><%= current_person.name + ", " + current_person.vorname %></td>
			  <% edit_link = "/OZBPerson/" + person.mnr.to_s %>
        <% delete_link = "/OZBPerson/" + person.mnr.to_s + "/delete" %>
        <td><%= link_to "Editieren", edit_link %></td>
        <td><%= link_to "Löschen", delete_link %></td>
      </tr>
      <% i += 1 %>
  <% end %>
</table>

<%= link_to 'OZB Person hinzufuegen', "/OZBPerson/new" %>
<%= will_paginate @OZBPersonen %>
