<h1>Alle Konten</h1>

<table>
  <tr>
    <th>Konto-Nr</th>
    <th>Mitglieds-Nr</th>
    <th>Konto-Einrichtungsdatum</th>
    <th>wSaldo</th>
    <th>pSaldo</th>
    <th>Saldo Datum</th>
  </tr>

  <% i=0 %>
  <% @ozbKonten.each do |konto| %>
  <% if i%2 == 0 then bg_color="white" else bg_color="lightgrey" end %>
    <tr style="background:<%= bg_color %>;">
      <td><%= konto.ktoNr %></td>
      <td><%= konto.mnr %></td>
      <td><%= konto.ktoEinrDatum %></td>
      <td><%= konto.wSaldo %></td>
      <td><%= konto.pSaldo %></td>
      <td><%= konto.saldoDatum %></td>
    </tr>
  <% i += 1 %>
  <% end %>

</table>

<%= link_to "Zurück", "/Admin", :class => "cancel_link" %>

<!-- Seitennavigation -->
<div class="paginateBox" >
  <%= will_paginate @ozbKonten %>
</div>
